/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS 62.5%  */
body 
{
     background-color:#ffffff; 
     font: 14 Georgia,'Times New Roman',serif;
}

img 
{
    border: none;
}

h1, h2, h3, h4, h5, h6
{
    color: #3984b4;
    font-weight: normal;    
}

ul 
{
    list-style: square outside;
}

li 
{
    margin-top: 2px;    
}

/* COMMON CLASSES */
.break { clear:both; }

/* HEADER */
#header { height:600px; }
.headerimg 
{
    margin-top: 50px;
    background-position: center top; 
    background-repeat: no-repeat; 
    width:100%; 
    height:600px; 
    position:absolute;
}

/* NAVIGATION opacity: .8; */
#Roof 
{
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
    
        
    height:60px; 
    padding-top:0px; 
    position:relative; 
    top:0px; 
    
    
    box-shadow: 0px 2px 30px 1px #000000;
    overflow:visible;
    z-index: 0;
}

.shadow 
{
    left: 0px;
    top: 1px;
    color: #FFF;
    position: absolute;
    z-index: 0;
}
        
#RoofText
{
    position:absolute;
    margin-top: -34px;
    margin-left: 35%;
    font-size: 14pt;
    color: #333;
    letter-spacing: 0px;
    opacity: initial;
    float: left;
    display: inline;
}

.logotype 
{
    margin-top: -50px;
    margin-left: 25px;
    position:absolute;
    float: left;
}

.logoImage 
{

}

#headertxt 
{
    width:800px; 
    left: 150px;
    clear:both; 
    position:absolute; 
    top:150px;
}

#firstline { background-image:url("../Images/textbg.png"); color:#333; font-size:40px; padding:4px 13px 7px; float:left; display:block; }

/* CONTROLS */
.btn { height:32px; width:32px; float:left; cursor:pointer; }
#back { background-image:url("../Images/btn_back_i.png"); }
#next { background-image:url("../Images/btn_next_i.png"); }
#control { background-image:url("../Images/btn_pause_i.png"); }

/* HEADER HAVIGATION */
#headernav-outer { position:relative; top:400px; margin:0 auto; width:960px; }
#headernav 
{ 
    margin-left: 90%;
    margin-top: -45px; 
    position:absolute;
}

/* CONTENT */
.DataBlock 
{
    color:#333; 
    background-color:#eee;
    position: absolute;
}

.innerDataBlock, .innerHorizontalDataBlock, .innerVerticalDataBlock, .undergroundHorizontalDataBlock
{
    left: 150px;
    display: inline-block;
    float: left;
    margin-top: 50px;
    position: relative;
}

.innerHorizontalDataBlock
{
    margin-right: 30%;   
    margin-top: 25px;
}

.innerVerticalDataBlock 
{
    margin-right: 5%;
}

.undergroundHorizontalDataBlock 
{
    margin-right: 30%;
    float: none;
    height: 100px;
    display: block;
}

.content, .subContent
{
    padding-top: 10px; 
    position: relative;
    font: 12pt Georgia;
}

.subContent, .subContentBold, .mapContent
{
    font: 10pt Georgia;
}

.subContentBold, .menuSubContentBold
{
    font-weight: bold;
}

.menuSubContentBold 
{
    list-style: none;
}

* html .clear
{
    zoom: 1;
}

.clear 
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.end
{
    position:relative;
    display: block;
    margin-left: 40%;
    padding-top: 30px;
    padding-bottom: 50px;
}


/*  Map   */

#map_canvas 
{
  /*height: 100%;*/
  width: 425px;
    height: 250px; 
    margin-top: 40px;
    border-width: 0;
    overflow: hidden; 
    margin-left: 0px;
    margin-bottom: 0px;
}


/*  ToolTip Style   */

.toolTipPlace 
{
    /*border-bottom: 1px dashed;
    border-bottom-color: #A4A4A4;
    font-style: italic;*/
    cursor: default;
}

#tt 
{
    position:absolute; 
    display:block; 
    background: #FFF;
}

#ttcont 
{
    display:block; 
    padding:2px 12px 3px 7px;
    width: auto;
    background: #FFF; 
    color: #333;
}

#ttcontImage 
{
    border-left: solid 5px #FFF;
    border-top: solid 5px #FFF;
    border-right: solid 5px #FFF;
    border-bottom: solid 5px #FFF;
}

.ttPreview 
{
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -3px;
}