/* NAVIGATION */
/*
#Roof 
{
     height:75px; 
     padding-top:0px; 
     position:relative; 
     top:0px; 
     background-color: #FFFFFF;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	 filter: alpha(opacity=80);
}*/

#RoofText
{
    position:absolute;
    margin-top: -50px;
    margin-left: 35%;
    font-size: 14pt;
    color: #333;
    letter-spacing: 0px;
    opacity: initial;
    float: left;
    display: inline;
}

#headernav 
{ 
    margin-left: 90%;
    margin-top: -80px; 
    position:absolute;
}

.innerHorizontalDataBlock
{
    margin-right: 30%;   
    margin-top: 25px;
}

/*.subContent 
{
    display: block;
    position: relative;
    float: none;
    width: auto;
    height: auto; 
}*/
/*
#headertxt 
{
    width:960px; 
    margin:0 auto;
    clear:both; 
    position:absolute; 
    top:74px;
}*/