/* table */
.table-menu, .table, .table-80, .table-115, .table-sub-menu {
    display: table;
    z-index: 1;
}

.table-80, .table-115 {
    position: absolute;
}

.table, .table-80, .table-115 {
    width: 100%;
}

.table, .table-sub-menu, .table-menu {
    margin: auto;
    position: relative
}

.table-menu {
    margin-top: -34px;
    font-size: 11pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #003366;
}

.table-sub-menu {
    margin-top: 8px;
}

.table-80 {
    top: 80px;
}

.table-115 {
    top: 115px;
}
/* table */

/* col, row */
.row {
    display: table-row;
}
/* col, row */

/* cell */
.cell, .cell-image, .empty-cell {
    display: table-cell;
}

.empty-cell {
    height: 4px;
}

.cell-image {
    height: 600px;
    cursor: hand;
}

.row-group {
    display: table-row-group;
    clear: both;
}
/* cell */