.menu-links {
    position:absolute;
    margin-top: -34px;
    margin-left: 25%;
    font-size: 11pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #003366;
    letter-spacing: 0px;
    opacity: initial;
    float: left;
    display: inline;
}

.sub-menu-links {
    font-size: 9pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #003366;
    background: #e5e5e5;
    box-shadow: inset 0px 15px 20px -10px #000000;
    padding: 8px;
    display: inline;
}

.current-element {
    font-size: 12pt;
    margin-left: 5px;
    margin-right: 5px;
}